.footer{
    margin-top: 50vh;
    min-height: 70vh;
    background: #e9e4e0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.infoBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    margin-left: 210px;
}
.infoBox .line{
    height: 1px;
    width: 90%;
    background: #000;
    margin-bottom: 30px;
}
.infoBox .logo{
    margin-bottom: 30px;
}
.infoBox .logo h1{
    font-family: 'Roboto',sans-serif;
}
.infoBox .line{
    height: 2px;
    color: #1a4122;
}
.allInfo{
     padding-bottom: 80px;
}
.allInfo a{
    display: block;
    text-decoration: none;
    color:black;
    font-size: 17px;
    margin-bottom:15px;
}
.allInfo .head{
    margin-bottom: 30px;
    font-size: 25px;
    color:#1a4122;
}