.navBar {
  display: flex;
  gap: 6vw;
align-items: center; 
justify-content: center;

 height: 20vh;
  width: 100vw;
}

.logo {
  margin: 0;
  padding: 0;
  text-align: center;
}
.logo h1 {
  margin: 0;
  letter-spacing: 3px;
  font-weight: 500;
  text-transform: uppercase;
  font-family:'Roboto',sans-serif;
}
.logo p {
  margin: 0;
  color: gray;
  letter-spacing: 1px;
  font-weight: 500;
}
.logo:hover {
  cursor: pointer;
}

/* NAV ITEMS STYLE */

.navItems {
  display: flex;
  list-style: none;
  gap: 2vw;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  
}
.navItems .navItem a,
.navItems .nav-btn a {
  text-decoration: none;
  color: black;
  transition: all 0.5s;

}
.nav-btn a{
    background-color: #c15627;
width: 100%;
  color: white;
  border-radius: 100px;
  padding: 5px 10px;
  transition: all 0.5s;
}
.navItems .nav-btn a {
  color: white;
}
.navItems .navItem a:hover {
  color: #6b2e13;
}
.navItems .nav-btn a:hover {
  background-color: #e98358;
}

/* RESPONSIVE WORK START */

.resBtn{
  display: none;
  position: absolute;
  right: 80px;
  font-size:30px;
   background:none;
  border:none
}
.resContent{
  display: none;
}
.navItems2{
  list-style: none;
  
}
.navItems2 .navItem a{
  color: white;
  text-decoration: none;
font-size: 50px;
}
.navItems2 .navItem{
  margin-bottom: 50px;

}
.navItems2 .logo{
  margin-bottom: 10px;
}
.cutBtn{
  font-size: 40px;
  position: absolute;
  top: 40px;
  right: 50px;
}
.cutBtn:hover{
cursor: pointer;
}
 .showNav{
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 2;
    color: white;
    background: #1a4122;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 130vh;
  } 
  .makeInv{
    display: none;}
@media(width<1050px){
  .navItems{
    display: none;
  }
  .resBtn{
    display: inherit;
  }
  
  
}